.app{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 24px;
}

.app__searchForm{
  margin-top: 18px;
}

.app__input{
  padding: 6px 16px;
  min-width: 200px;
  max-width: 100vw;
  font-size: 15px;
}

.app__submit{
  padding: 6px, 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: blue;
  border: 2px solid blue;
  border-radius: 4px;
  width: 75px;
  height: 33px;
  color: aliceblue;
  cursor: pointer;
}
.app__submit:hover{
  padding: 6px, 16px;
  font-size: 15px;
  margin-left: 6px;
  background-color: aliceblue;
  border: 2px solid blue;
  border-radius: 4px;
  width: 75px;
  height: 33px;
  color: blue;
  cursor: pointer;
}

.app__recipes{
margin-top: 24px;
display: grid;
grid-template-columns: 230px 230px;
align-items: baseline;
}

.app__healthLabels{
  padding: 7px 8px;
  margin-left: 6px;
  border-radius: 4px;
}